:root {
   /* Base Theme */
  --bg-color: #0a0908;
  --text-color: #f4ece1;
  --accent-color: #c5a367;
  --sceondary-accent: #d9cbb3;
  --secondary-bg: #2f2b28;
  --hover-color: #cfc6b8;
  --border-color: #6e6458;
  --shadow-color: rgba(0, 0, 0, 0.3);
}

/* Everything is scoped inside .faq-page-container */ 
.faq-page-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto';
  max-width: 600px;
  
  margin: 2rem auto;
  padding: 4rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  color: var(--accent-color);
}


.faq-title{
    font-size: 3rem;
    color: var(--accent-color);
    margin-bottom: 5rem;
    margin-top: rem;
    animation: slideUp 0.5s;
    margin-left: 0px;
}

.faq-page-container h2 {
  color: var(--accent-color);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  margin-top: 2rem;
  font-size: 2rem;
  animation: slideUp 0.5s ;
}


.faq-page-container button {
  display: block;
  width: 100%;
  text-align: left;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 12px 24px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
 
}

/* to modify answers */
.faq-page-container p {
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  border-top: none; /* Merges it with the button above */
  margin: 0;
  padding: 1rem;
  color: var(--bg-color);
  line-height: 1.5;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  
  /* Keep the top flat so it lines up with the button */
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.faq-page-container button:hover {
  background-color: var(--digital-accent);
  color: var(--accent-color);
  border-color: var(--accent-color);
  
  transform: translateY(-2px);
  box-shadow: 0 4px 15px var(--shadow-color);
}

.social-main-content-area{
  overflow-y: auto !important;
}

